<form action="/result" method="post">
  <legend>コード入力フォーム</legend>
  <textarea class="span5" rows="10" name="text" id="text"></textarea>
  <br />
  <input class="btn" type='submit' value='OK' />
</form>

<script>

  $('.sample').each(function(){
    $(this).click(function(){
	// $('#).val("hoge");
    });
  });
</script>