<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>stone_rubyテストページ</title>
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <header class="all">
	<h1>stone_rubyテストページ</h1>
      </header>
      <div class="main">
	<%= yield %>
      </div>
    </div>
  </body>
</html>
