<h2>これが（入力内容）</h2>
<pre>
<% if inputs %>
<% inputs.each do |input| %>                                                        
<%= input %>
<% end %>
<% end %>
</pre>


<h2>こうなる（実行結果）</h2>
<p>
<pre>
<% result.each do |key, value| %>
   <%= key %>
   <%= value %>
<% end %>
</pre>

<a href='/'>戻る</a>